@mixin flex1 ($text:center,$justify:space-between) {
    display: flex;
    justify-content: $justify;
    text-align: $text;
    align-items: $text;
}
@mixin media{
    @media screen and (min-width: $midwidth) {
        @content;
    }
}
