header {
    width: 100%;

    .section1 {
        @include flex1;
        background-color: $firstbgcolor;
        color: $textcolor1;
        font-family: $myfamily;
        @include WH(100%, 34px);
        padding: 10px 20px;

        .none {
            display: none;
        }
        @include media {
            height: 49px;
            .none {
                @include align;
            }
            .dropdown {
                width: 0px;
            }
            .nnn {
                width: 30px;
            }
            .findme {
                .ngn {
                    padding: 0 6px;
                    align-self: center;
                }
            }
            div {
                @include align;
                padding: 0 8px;
            }
        }
    }
    .sec2 {
        @include flex1;
        width: 100%;
        padding: 1em;
        .menu {
            width: 38px;
        }
        .corebank {
            width: 139px;
            margin-left: 14px;
        }
        .nav-links {
            display: none;
        }
        a {
            @include font(18px, 600, normal);
            text-decoration: none;
            color: $tagcolor;
            padding: 12px;
        }
        @include media {
            .mobilenone {
                display: none;
            }
            .nav-links {
                display: flex;
            }
            .get {
                border: 1px solid $btn;
                @include WH(136px, 43px);
                border-radius: 10px;
                color: $textcolor1;
                background-image: $btn;
                padding-left: 29px;
                &:hover {
                    background-color: $textcolor1;
                    color: $tagcolor;
                }
            }
        }
    }
}
.mainview {
    display: flex;
    @include textme;
    background-image: url(/style/imgs/mbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include WH(100%, 278px);
    @include media {
        background-image: url(/style/imgs/guywithtea.png);
        height: 90vh;
        .right-arrow {
            display: none;
        }
        .left-arrow {
            width: 40px;
            margin-top: 8vh;
        }
    }

    .texts {
        padding-right: 7vw;
    }

    h1 {
        @include font(27px, 700, normal);
        color: $tagcolor;
        width: 100%;
        padding: 0px 14vw 3vh 4vw;
        text-align: left;
        @include media {
            font-size: 50px;
            padding: 0 55vw 0 3vw;
            line-height: 1.1;
            margin-bottom: 3vh;
        }
    }
    p {
        @include font(13px, 600, normal);
        line-height: 20px;
        width: 100%;
        padding: 0 14vw 0 4vw;
        color: $tagcolor;
        text-align: left;
        @include media {
            font-size: 18px;
            padding: 3vh 53vw 0 3vw;
            line-height: 1.6;
        }
    }
}
.articles {
    background-image: url(/style/imgs/bg2A.png);
    background-repeat: no-repeat;
    background-size: cover;
    .article-image {
        display: none;
        width: 100%;
        @include media {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            padding: 0 10vw;

            .box {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                @include WH(12vw, 23vh);
                padding-top: 3vh;
                @include textme;
                flex-direction: column;

                p {
                    @include font(20px, 600, normal);
                    color: black;
                    line-height: 2;
                }
            }
        }
    }
}
.article2 {
    text-align: center;
    line-height: 1.8;
    padding: 1em;
    h4 {
        @include font(14px, 500, normal);
        text-align: left;
        padding: 2vh 0 0 3vw;
        margin-top: 6vh;
        @include media {
            @include font(18px, 500, normal);
            margin-top: 18vh;
            line-height: 2;
            padding: 0 0 0 10vw;
        }
    }
    h1 {
        font-size: 28px;
        text-align: left;
        padding: 0 0 0 2.7vw;
        margin-bottom: 3vh;
        @include media {
            @include font(46px, bold, normal);
            margin-bottom: 9vh;
            color: $tagcolor;
            padding: 0 0 0 10vw;
        }
    }
    @media screen and (max-width: 800px) {
        .noneA {
            display: none;
        }
    }

    @include media {
        text-align: left;
        padding: 0px;
        .square {
            width: 20px;
        }
    }

    .articleflex {
        .boxA {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 1em;
            @include media {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                width: 26vw;
            }
            p {
                padding: 0 2vw 0 0;
                text-align: left;
            }
            img {
                padding-top: 2vh;
                width: 78vw;
                @include media {
                    width: 20vw;
                }
            }
        }
        h2 {
            text-align: left;
            font-size: 20px;
            padding: 2vh 0 0 0vw;
            @include media {
                padding: 5vh 0 0 0vw;
            }
        }
        p {
            @include font(15px, 500, normal);
            text-align: left;
            padding: 0 0 0 2vw;
            @include media {
                line-height: 1.9;
                padding: 0 5vw 0 0vw;
            }
        }
        @include media {
            @include flex1(space-evenly);
            padding: 1em 43px 0 7vw;

            .noneA {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                width: 26vw;

                .displayed {
                    display: grid;
                    grid-template-columns: auto;
                    padding: 1em;
                }

                p {
                    line-height: 1.9;
                    padding: 0 3vw 0 0vw;
                }
                img {
                    width: 20vw;
                }
            }
        }
    }
    .scroll {
        padding: 2vh 0 0 0;
        @include media {
            text-align: center;
            padding-bottom: 6px;
        }
    }
}
.section3 {
    width: 100%;
    .textflex {
        display: flex;
        flex-direction: column-reverse;
        background-image: $section3bg;
        @include media {
            flex-direction: row;
        }

        .phone {
            text-align: center;
            @include media {
                @include textme;
                width: 100%;
                img {
                    width: 41vw;
                }
            }
        }
        .text {
            padding: 1em;

            h5 {
                @include font(15px, 600, normal);
                color: $tagcolor;
                line-height: 0vh;
                @include media {
                    @include font(18px, 500, normal);
                    padding: 8vh 0 0 5vw;
                    line-height: 2;
                }
            }
            h1 {
                @include font(28px, 600, normal);
                color: $textcolor1;
                line-height: 11vh;
                @include media {
                    font-size: 40px;
                    color: $tagcolor;
                    padding: 5vh 0 4vh 5.6vw;
                }
            }
            p {
                @include font(16px, 500, normal);
                color: $textcolor1;
                line-height: 1.8;
                @include media {
                    font-size: 18px;
                    color: $tagcolor;
                    padding: 0vh 4vw 0 5vw;
                }
            }
            .buttons {
                display: flex;
                flex-direction: column;
                padding-top: 2vh;
                @include media {
                    flex-direction: row;
                    padding: 8vh 0 3vh 5vw;
                    gap: 1vw;
                }
                a {
                    @include font(14px, 600, normal);
                    text-decoration: none;
                    color: $textcolor1;
                    border-radius: 10px;
                    @include WH(60vw, 8vh);
                    text-align: center;
                    padding-top: 15px;
                    @include media {
                        @include WH(145.7px, 60px);
                        padding-top: 20px;
                    }
                }
                .create {
                    background-image: $btn;
                    border: 1px solid $btn;
                }
                .open {
                    border: 1px solid;
                }
            }
        }
    }
}
.section4 {
    width: 100%;

    .contents {
        display: flex;
        padding: 1em;
        background-image: url(/style/imgs/section4bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        .imagesflex {
            width: 77%;
            margin-top: 56px;
            @include media {
                width: 100%;
                text-align: right;
                margin-right: 12vw;

                .smartphone {
                    width: 20vw;
                }
            }
        }
        .text4 {
            width: 100%;
            align-self: center;
            margin-top: auto;
            @include media {
                margin-top: 14vh;
            }
            h5 {
                @include font(12px, 900, normal);
                text-align: left;
                color: $footercolor;
                line-height: 1.8;
                @include media {
                    font-size: 14px;
                    margin-left: 6vw;
                }
            }
            h6 {
                @include font(18px, 600, normal);
                color: $acolor;
                text-align: left;
                line-height: 2.8;
                @include media {
                    font-size: 37px;
                }
            }
            .links-button {
                display: flex;
                flex-direction: column-reverse;
                @include media {
                    flex-direction: row;
                    gap: 1vw;
                }

                .apple {
                    @include textme(center, left, center);
                    border: 1px solid $textcolor1;
                    background-color: $textcolor1;
                    border-radius: 13px;
                    padding: 1em;
                    margin-top: 2vh;
                }
                .down {
                    padding-left: 2vw;
                }
                .playstore {
                    @include textme(center, left, center);
                    border: 1px solid $textcolor1;
                    background-color: $textcolor1;
                    border-radius: 13px;
                    padding: 1em;
                    @include media {
                        height: 72px;
                        margin-top: 2vh;
                    }
                }
                a {
                    @include font(10px, 800, normal);
                    text-decoration: none;
                    color: $acolor;
                }
            }
        }
    }
}
.section5 {
    width: 100%;
    .text5 {
        padding: 1em;
        background-color: $section5bg;
        .yellowcube {
            height: 18px;
            margin-top: 2px;
            @include media {
                @include WH;
            }
        }

        .scroll {
            padding: 8px 0 3vh 0;
            text-align: center;
            @include media {
                display: none;
            }
        }
        .team {
            display: flex;
            gap: 10px;
            @include media {
                padding: 3vh 0 0 4vw;
            }
        }

        h5 {
            @include font(15px, 600, normal);
            color: $tagcolor;
            line-height: 1.5;
            @include media {
                font-size: 18px;
                margin-top: 3px;
            }
        }
        h1 {
            @include font(27px, 700, normal);
            line-height: 2.2;
            color: $tagcolor;
            padding-bottom: 5vh;
            @include media {
                font-size: 46px;
                padding-left: 4vw;
            }
        }
        .textbox {
            width: 100%;

            @include media {
                @include flex1(space-evenly);
                gap: 2vw;
                padding-bottom: 41px;
            }
            .none {
                display: none;
                @include media {
                    display: flex;
                    flex-direction: column;
                }
            }

            .mobilebox {
                border: 1px solid $textcolor1;
                border-radius: 12px;
                padding: 1em;
                background-color: $textcolor1;
                @include media {
                    width: 377px;

                    .sharep {
                        padding: 41px 0 46px 0;
                    }
                }

                h4 {
                    @include font(18px, bold, normal);
                    line-height: 26px;
                    padding: 0 0 3vh 2vw;
                    @include media {
                        padding: 0 0 3vh 0;
                    }
                }
                p {
                    @include font(16px, 500, normal);
                    line-height: 36px;
                }
                .rankingstars {
                    @include flex1(space-evenly);
                    .star {
                        width: 100%;
                        padding-top: 9px;
                        @include media {
                            width: 58%;
                        }
                    }
                    .plusno {
                        width: 100%;
                        @include media {
                            width: 89%;
                        }
                        p {
                            @include font(10px, 500, normal);
                        }
                    }
                }
            }
        }
    }
}
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $tagcolor;
    padding: 1em;
    @include media {
        flex-direction: row;
    }

    .meetme {
        @include media {
            @include flex1(end);
            width: 100%;
            padding: 21px 0 0 0;

            .company {
                padding-left: 24px;
                padding-right: 33px;
            }
        }
    }

    .firstpart {
        p {
            @include font(16px, 500, normal);
            color: $textcolor1;
            line-height: 32px;
            padding-bottom: 20px;
            @include media {
                padding-bottom: 30px;
            }
        }
        @include media {
            width: 100%;
            padding: 5px 7vw 0 5vw;
        }
    }
    .none {
        display: none;
        @include media {
            display: flex;
            flex-direction: column;
        }
    }
    .corebanklogo {
        padding-bottom: 12px;
    }
    .quicks {
        @include flex1(flex-start);
        gap: 21vw;
        @include media {
            gap: 0px;
        }

        .save {
            padding: 0 0 5vh 0;
            @include media {
                padding: 0 0 0 0;
            }
        }
        h4 {
            @include font(20px, bold, normal);
            color: $footercolor;
            line-height: 20px;
            padding-top: 6px;
            padding-bottom: 4vh;
            width: 100%;
        }
        p {
            @include font(18px, 500, normal);
            color: $textcolor1;
            line-height: 3;
        }
    }
    .contact {
        h4 {
            @include font(20px, bold, normal);
            color: $footercolor;
            line-height: 53px;
            padding-top: 15px;
        }
        p {
            @include font(18px, 500, normal);
            color: $textcolor1;
            line-height: 1.7;
            padding: 0px 21vw 3vh 0;
            @include media {
                font-size: 15px;
                padding: 2vh 0 1vw 0;
            }
        }
        .cust {
            padding-bottom: 1vh;
        }

        .socialI {
            padding-bottom: 4vh;
        }
        .end {
            display: flex;
            gap: 8px;
            .logos {
                padding: 0;
                margin-left: 4px;
            }
        }
        h6 {
            @include font(15px, normal);
            color: $textcolor1;
            margin-top: 5px;
        }
        .footerstore {
            display: flex;
            flex-direction: column;
            @include media {
                display: none;
            }
        }
        @include media {
            align-items: center;
            margin-right: 41px;
        }
    }

    .footerplaystore {
        @include flex1(center);
        align-items: center;
        border: 1px solid $footercolor;
        background-color: $footercolor;
        border-radius: 8px;
        padding: 1em;
        @include WH(179px, 61px);
        margin-bottom: 6vh;
        @include media {
            margin-bottom: 2vh;
        }
    }
    .footerapplestore {
        @include flex1(center);
        align-items: center;
        border: 1px solid $textcolor1;
        background-color: $textcolor1;
        border-radius: 8px;
        padding: 1em;
        @include WH(179px, 61px);
        margin-bottom: 6vh;
    }
    a {
        @include font(14px, 500, normal);
        text-decoration: none;
        color: $tagcolor;
        @include media {
            @include font(13px, 600, normal);
        }
    }
    .down {
        padding-left: 8px;

        h3 {
            @include font(18px, 600, normal);
            color: $tagcolor;
        }
        h4 {
            font-size: 18px;
        }
    }
}
