header {
    width: 100%;

    .section1 {
        @include flex1;
        background-color: $firstbgcolor;
        color: $textcolor1;
        font-family: $myfamily;
        width: 100%;
        padding: 0 20px;
        height: 6vh;

        .none {
            display: none;
        }
        @include media {
            .none {
                display: flex;
            }
            .dropdown {
                width: 0px;
            }
            .nnn {
                width: 20px;
            }
            .findme {
                .ngn {
                    padding: 0 6px;
                }
            }
            div {
                display: flex;
                padding: 0 8px;
            }
        }
    }
    .sec2 {
        @include flex1;
        width: 100%;
        padding: 1em;
        .menu {
            width: 38px;
        }
        .corebank {
            width: 139px;
        }
        .nav-links {
            display: none;
        }
        a {
            font-family: $myfamily;
            text-decoration: none;
            font-size: 18px;
            color: $tagcolor;
            padding: 12px;
            font-weight: 600;
        }
        @include media {
            .mobilenone {
                display: none;
            }
            .nav-links {
                display: flex;
            }
            .get {
                border: 1px solid $btn;
                width: 136px;
                height: 43px;
                border-radius: 10px;
                color: $textcolor1;
                background-image: $btn;
                &:hover {
                    background-color: $textcolor1;
                    color: $tagcolor;
                }
            }
        }
    }
}
.mainview {
    background-image: url(/style/imgs/mbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 278px;
    display: flex;
    text-align: center;
    align-items: center;
    @include media {
        background-image: url(/style/imgs/guywithtea.png);
        height: 90vh;
        .right-arrow {
            display: none;
        }
        .left-arrow {
            width: 40px;
            margin-top: 8vh;
        }
    }

    .texts {
        padding-right: 7vw;
    }

    h1 {
        font-family: $myfamily;
        font-size: 24px;
        font-weight: 700;
        color: $tagcolor;
        width: 100%;
        padding: 0px 14vw 3vh 4vw;
        text-align: left;
        @include media {
            font-size: 50px;
            padding: 0 55vw 0 3vw;
            line-height: 1.1;
            margin-bottom: 3vh;
        }
    }
    p {
        font-family: $myfamily;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        width: 100%;
        padding: 0 14vw 0 4vw;
        color: $tagcolor;
        text-align: left;
        @include media {
            font-size: 18px;
            padding: 3vh 53vw 0 3vw;
            line-height: 1.6;
        }
    }
}
.articles {
    background-image: url(/style/imgs/bg2A.png);
    background-repeat: no-repeat;
    background-size: cover;
    .article-image {
        display: none;
        width: 100%;
        @include media {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            padding: 0 10vw;

            .box {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                height: 23vh;
                width: 12vw;
                padding-top: 3vh;
                align-items: center;
                text-align: center;

                p {
                    font-size: 20px;
                    font-weight: 600;
                    color: black;
                    line-height: 2;
                }
            }
        }
    }
}
.article2 {
    text-align: center;
    line-height: 1.8;
    padding: 1em;
    h4 {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        padding: 2vh 0 0 3vw;
        margin-top: 6vh;
        @include media {
            margin-top: 18vh;
            font-size: 18px;
            font-weight: 500;
            line-height: 2;
            padding: 0 0 0 10vw;
        }
    }
    h1 {
        font-size: 28px;
        text-align: left;
        padding: 0 0 0 2.7vw;
        margin-bottom: 3vh;
        @include media {
            margin-bottom: 9vh;
            font-size: 46px;
            font-weight: bold;
            color: $tagcolor;
            padding: 0 0 0 10vw;
        }
    }
    @media screen and (max-width: 800px) {
        .noneA {
            display: none;
        }
    }

    @include media {
        text-align: left;
        padding: 0px;
        .square {
            width: 20px;
        }
    }

    .articleflex {
        .boxA {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 1em;
            @include media {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                width: 26vw;
            }
            p {
                padding: 0 2vw 0 0;
                text-align: left;
            }
            img {
                padding-top: 2vh;
                width: 78vw;
                @include media {
                    width: 20vw;
                }
            }
        }
        h2 {
            text-align: left;
            font-size: 20px;
            padding: 2vh 0 0 0vw;
            @include media {
                padding: 5vh 0 0 0vw;
            }
        }
        p {
            text-align: left;
            font-size: 15px;
            font-weight: 500;
            padding: 0 0 0 2vw;
            @include media {
                line-height: 1.9;
                padding: 0 5vw 0 0vw;
            }
        }
        @include media {
            display: flex;
            justify-content: space-evenly;
            padding: 1em 43px 0 7vw;

            .noneA {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                width: 26vw;

                .displayed {
                    display: grid;
                    grid-template-columns: auto;
                    padding: 1em;
                }

                p {
                    line-height: 1.9;
                    padding: 0 3vw 0 0vw;
                }
                img {
                    width: 20vw;
                }
            }
        }
    }
    .scroll {
        padding: 2vh 0 0 0;
        @include media {
            text-align: center;
        }
    }
}
.section3 {
    width: 100%;
    .textflex {
        display: flex;
        flex-direction: column-reverse;
        background-image: $section3bg;

        .phone {
            text-align: center;
        }
        .text{
            padding: 1em;

            h5{
                font-size: 15px;
                font-weight: 600;
                font-family: $myfamily;
                color: $tagcolor;
                line-height: 0vh;
            }
            h1{
                color: $textcolor1;
                font-size: 28px;
                font-weight: 600;
                font-family: $myfamily;
                line-height: 11vh;
            }
            p{
                color: $textcolor1;
                font-size: 16px;
                font-weight: 500;
                font-weight: $myfamily;
                line-height: 1.8;
            }
            .buttons{
                display: flex;
                flex-direction: column;
                padding-top: 2vh;
                a{
                    text-decoration: none;
                    color: $textcolor1;
                    border-radius: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    width: 60vw;
                    height: 8vh;
                    text-align: center;
                    padding-top: 15px;
                }
                .create{
                    background-image: $btn;
                    border: 1px solid $btn;
                }
                .open{
                    border: 1px solid;
                }
            }
        }
    }
}
