$firstbgcolor: #8d979b;
$textcolor1: #ffff;
$tagcolor: #12082d;
$btn: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
$myfamily: Arial, Helvetica, sans-serif;
$midwidth: 1000px;
$section3bg: linear-gradient(180deg, rgba(239, 155, 17, 0.5) 0%, rgba(64, 85, 88, 0.5) 100%);
$footercolor: #ef9b11;
$section5bg:rgba(255, 187, 11, 0.5);
$acolor:#2f2f2f;
