$firstbgcolor: #8d979b;
$textcolor1: #ffff;
$tagcolor: #12082d;
$btn: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
$myfamily: Arial, Helvetica, sans-serif;
$midwidth: 800px;
$section3bg: linear-gradient(180deg, rgba(239, 155, 17, 0.5) 0%, rgba(64, 85, 88, 0.5) 100%);
