* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
}

header .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8d979b;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0 20px;
  height: 6vh;
}

header .section1 .none {
  display: none;
}

@media screen and (min-width: 800px) {
  header .section1 .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .section1 .dropdown {
    width: 0px;
  }
  header .section1 .nnn {
    width: 20px;
  }
  header .section1 .findme .ngn {
    padding: 0 6px;
  }
  header .section1 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8px;
  }
}

header .sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em;
}

header .sec2 .menu {
  width: 38px;
}

header .sec2 .corebank {
  width: 139px;
}

header .sec2 .nav-links {
  display: none;
}

header .sec2 a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #12082d;
  padding: 12px;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  header .sec2 .mobilenone {
    display: none;
  }
  header .sec2 .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .sec2 .get {
    border: 1px solid linear-gradient(180deg, #ef9b11 0%, #405558 100%);
    width: 136px;
    height: 43px;
    border-radius: 10px;
    color: #ffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
    background-image: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
  }
  header .sec2 .get:hover {
    background-color: #ffff;
    color: #12082d;
  }
}

.mainview {
  background-image: url(/style/imgs/mbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) {
  .mainview {
    background-image: url(/style/imgs/guywithtea.png);
    height: 90vh;
  }
  .mainview .right-arrow {
    display: none;
  }
  .mainview .left-arrow {
    width: 40px;
    margin-top: 8vh;
  }
}

.mainview .texts {
  padding-right: 7vw;
}

.mainview h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #12082d;
  width: 100%;
  padding: 0px 14vw 3vh 4vw;
  text-align: left;
}

@media screen and (min-width: 800px) {
  .mainview h1 {
    font-size: 50px;
    padding: 0 55vw 0 3vw;
    line-height: 1.1;
    margin-bottom: 3vh;
  }
}

.mainview p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
  padding: 0 14vw 0 4vw;
  color: #12082d;
  text-align: left;
}

@media screen and (min-width: 800px) {
  .mainview p {
    font-size: 18px;
    padding: 3vh 53vw 0 3vw;
    line-height: 1.6;
  }
}

.articles {
  background-image: url(/style/imgs/bg2A.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.articles .article-image {
  display: none;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .articles .article-image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
    padding: 0 10vw;
  }
  .articles .article-image .box {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 23vh;
    width: 12vw;
    padding-top: 3vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .articles .article-image .box p {
    font-size: 20px;
    font-weight: 600;
    color: black;
    line-height: 2;
  }
}

.article2 {
  text-align: center;
  line-height: 1.8;
  padding: 1em;
}

.article2 h4 {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  padding: 2vh 0 0 3vw;
  margin-top: 6vh;
}

@media screen and (min-width: 800px) {
  .article2 h4 {
    margin-top: 18vh;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    padding: 0 0 0 10vw;
  }
}

.article2 h1 {
  font-size: 28px;
  text-align: left;
  padding: 0 0 0 2.7vw;
  margin-bottom: 3vh;
}

@media screen and (min-width: 800px) {
  .article2 h1 {
    margin-bottom: 9vh;
    font-size: 46px;
    font-weight: bold;
    color: #12082d;
    padding: 0 0 0 10vw;
  }
}

@media screen and (max-width: 800px) {
  .article2 .noneA {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .article2 {
    text-align: left;
    padding: 0px;
  }
  .article2 .square {
    width: 20px;
  }
}

.article2 .articleflex .boxA {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1em;
}

@media screen and (min-width: 800px) {
  .article2 .articleflex .boxA {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 26vw;
  }
}

.article2 .articleflex .boxA p {
  padding: 0 2vw 0 0;
  text-align: left;
}

.article2 .articleflex .boxA img {
  padding-top: 2vh;
  width: 78vw;
}

@media screen and (min-width: 800px) {
  .article2 .articleflex .boxA img {
    width: 20vw;
  }
}

.article2 .articleflex h2 {
  text-align: left;
  font-size: 20px;
  padding: 2vh 0 0 0vw;
}

@media screen and (min-width: 800px) {
  .article2 .articleflex h2 {
    padding: 5vh 0 0 0vw;
  }
}

.article2 .articleflex p {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  padding: 0 0 0 2vw;
}

@media screen and (min-width: 800px) {
  .article2 .articleflex p {
    line-height: 1.9;
    padding: 0 5vw 0 0vw;
  }
}

@media screen and (min-width: 800px) {
  .article2 .articleflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1em 43px 0 7vw;
  }
  .article2 .articleflex .noneA {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 26vw;
  }
  .article2 .articleflex .noneA .displayed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 1em;
  }
  .article2 .articleflex .noneA p {
    line-height: 1.9;
    padding: 0 3vw 0 0vw;
  }
  .article2 .articleflex .noneA img {
    width: 20vw;
  }
}

.article2 .scroll {
  padding: 2vh 0 0 0;
}

@media screen and (min-width: 800px) {
  .article2 .scroll {
    text-align: center;
  }
}

.section3 {
  width: 100%;
}

.section3 .textflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 155, 17, 0.5)), to(rgba(64, 85, 88, 0.5)));
  background-image: linear-gradient(180deg, rgba(239, 155, 17, 0.5) 0%, rgba(64, 85, 88, 0.5) 100%);
}

@media screen and (min-width: 800px) {
  .section3 .textflex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section3 .textflex .phone {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .section3 .textflex .phone {
    text-align: -webkit-center;
    width: 100%;
  }
  .section3 .textflex .phone img {
    width: 35vw;
  }
}

.section3 .textflex .text {
  padding: 1em;
}

.section3 .textflex .text h5 {
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #12082d;
  line-height: 0vh;
}

@media screen and (min-width: 800px) {
  .section3 .textflex .text h5 {
    font-size: 18px;
    font-weight: 500;
    padding: 8vh 0 0 5vw;
    line-height: 2;
  }
}

.section3 .textflex .text h1 {
  color: #ffff;
  font-size: 28px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 11vh;
}

@media screen and (min-width: 800px) {
  .section3 .textflex .text h1 {
    font-size: 40px;
    color: #12082d;
    padding: 5vh 0 4vh 5.6vw;
  }
}

.section3 .textflex .text p {
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  font-weight: Arial, Helvetica, sans-serif;
  line-height: 1.8;
}

@media screen and (min-width: 800px) {
  .section3 .textflex .text p {
    font-size: 18px;
    color: #12082d;
    padding: 0vh 4vw 0 5vw;
  }
}

.section3 .textflex .text .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2vh;
}

@media screen and (min-width: 800px) {
  .section3 .textflex .text .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 8vh 0 3vh 5vw;
    gap: 1vw;
  }
}

.section3 .textflex .text .buttons a {
  text-decoration: none;
  color: #ffff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  width: 60vw;
  height: 8vh;
  text-align: center;
  padding-top: 15px;
}

@media screen and (min-width: 800px) {
  .section3 .textflex .text .buttons a {
    width: 16.7vw;
    height: 59px;
    padding-top: 20px;
  }
}

.section3 .textflex .text .buttons .create {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
  background-image: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
  border: 1px solid linear-gradient(180deg, #ef9b11 0%, #405558 100%);
}

.section3 .textflex .text .buttons .open {
  border: 1px solid;
}

.section4 {
  width: 100%;
}

.section4 .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  background-image: url(/style/imgs/section4bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.section4 .contents .imagesflex {
  width: 77%;
  margin-top: 56px;
}

@media screen and (min-width: 800px) {
  .section4 .contents .imagesflex {
    width: 100%;
    text-align: right;
    margin-right: 12vw;
  }
  .section4 .contents .imagesflex .smartphone {
    width: 20vw;
  }
}

.section4 .contents .text4 {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
}

@media screen and (min-width: 800px) {
  .section4 .contents .text4 {
    margin-top: 14vh;
  }
}

.section4 .contents .text4 h5 {
  font-size: 12px;
  font-weight: 900;
  text-align: left;
  color: #eab221;
  line-height: 1.8;
}

@media screen and (min-width: 800px) {
  .section4 .contents .text4 h5 {
    font-size: 14px;
    margin-left: 6vw;
  }
}

.section4 .contents .text4 h6 {
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
  text-align: left;
  line-height: 2.8;
}

@media screen and (min-width: 800px) {
  .section4 .contents .text4 h6 {
    font-size: 37px;
  }
}

.section4 .contents .text4 .links-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 800px) {
  .section4 .contents .text4 .links-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1vw;
  }
}

.section4 .contents .text4 .links-button .apple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ffff;
  background-color: #ffff;
  border-radius: 13px;
  padding: 1em;
  margin-top: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 .contents .text4 .links-button .down {
  padding-left: 2vw;
}

.section4 .contents .text4 .links-button .playstore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ffff;
  background-color: #ffff;
  border-radius: 13px;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .section4 .contents .text4 .links-button .playstore {
    height: 72px;
    margin-top: 2vh;
  }
}

.section4 .contents .text4 .links-button a {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 11px;
  font-weight: 800;
}

.section5 {
  width: 100%;
}

.section5 .text5 {
  padding: 1em;
  background-color: rgba(255, 187, 11, 0.5);
}

.section5 .text5 h5 {
  font-size: 15px;
  font-weight: 600;
  color: #12082d;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.section5 .text5 h1 {
  font-size: 27px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.2;
  color: #12082d;
}

.section5 .text5 .textbox {
  width: 100%;
}

.section5 .text5 .textbox .mobilebox {
  border: 1px solid #ffff;
  border-radius: 12px;
  padding: 1em;
  background-color: #ffff;
}

.section5 .text5 .textbox .mobilebox h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding: 0 0 3vh 2vw;
}

.section5 .text5 .textbox .mobilebox p {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
}

.section5 .text5 .textbox .mobilebox .rankingstars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section5 .text5 .textbox .mobilebox .rankingstars .star {
  width: 100%;
  padding-top: 9px;
}

.section5 .text5 .textbox .mobilebox .rankingstars .plusno {
  width: 100%;
}

.section5 .text5 .textbox .none {
  display: none;
}
/*# sourceMappingURL=bank.css.map */