* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

html {
  width: 100%;
}

header {
  width: 100%;
}

header .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #8d979b;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 34px;
  padding: 6px 20px;
}

header .section1 .none {
  display: none;
}

@media screen and (min-width: 960px) {
  header .section1 {
    height: 49px;
  }
  header .section1 .padlock {
    padding-right: 4px;
    width: 15px;
  }
  header .section1 .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .section1 .dropdown {
    width: 0px;
  }
  header .section1 .nnn {
    width: 30px;
  }
  header .section1 .findme .ngn {
    padding: 0 6px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .section1 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 8px;
  }
}

header .sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1em;
}

header .sec2 .menu {
  width: 38px;
}

header .sec2 .corebank {
  width: 139px;
  margin-left: 14px;
}

header .sec2 .nav-links {
  display: none;
}

header .sec2 a {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #12082d;
  padding: 12px;
}

header .sec2 .slideshow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #8d979b;
  text-decoration: underline;
  margin-top: 41px;
  width: 69vw;
  left: 0;
}

@media screen and (min-width: 960px) {
  header .sec2 .slideshow {
    position: static;
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    background-color: transparent;
    text-decoration: none;
  }
  header .sec2 .mobilenone {
    display: none;
  }
  header .sec2 .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .sec2 .get {
    border: 1px solid linear-gradient(180deg, #ef9b11 0%, #405558 100%);
    width: 136px;
    height: 43px;
    border-radius: 10px;
    color: #ffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
    background-image: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
    padding-left: 29px;
  }
  header .sec2 .get:hover {
    background-color: #ffff;
    color: #12082d;
  }
}

.mainview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/style/imgs/mbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 278px;
}

@media screen and (min-width: 960px) {
  .mainview {
    background-image: url(/style/imgs/guywithtea.png);
    height: 90vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .mainview .right-arrow {
    display: none;
  }
  .mainview .left-arrow {
    width: 40px;
    margin-top: 8vh;
  }
}

.mainview .texts {
  padding-right: 7vw;
}

.mainview h1 {
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #12082d;
  width: 100%;
  padding: 0px 14vw 3vh 4vw;
  text-align: left;
}

@media screen and (min-width: 960px) {
  .mainview h1 {
    font-size: 50px;
    width: 89vw;
    padding: 0 54vw 0 3vw;
    line-height: 1.1;
    margin-bottom: 3vh;
  }
}

.mainview p {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  width: 100%;
  padding: 0 14vw 0 4vw;
  color: #12082d;
  text-align: left;
}

@media screen and (min-width: 960px) {
  .mainview p {
    font-size: 18px;
    padding: 3vh 53vw 0 3vw;
    line-height: 1.6;
    width: 92vw;
  }
}

.articles {
  background-image: url(/style/imgs/bg2A.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.articles .article-image {
  display: none;
  width: 100%;
}

@media screen and (min-width: 960px) {
  .articles .article-image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
    padding: 0 10vw;
  }
  .articles .article-image .box {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 12vw;
    height: 23vh;
    padding-top: 3vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles .article-image .box p {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: black;
    line-height: 2;
  }
}

.article2 {
  text-align: center;
  line-height: 1.8;
  padding: 1em;
}

.article2 h4 {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding: 2vh 0 0 3vw;
  margin-top: 6vh;
}

@media screen and (min-width: 960px) {
  .article2 h4 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    margin-top: 18vh;
    line-height: 2;
    padding: 0 0 0 10vw;
  }
}

.article2 h1 {
  font-size: 28px;
  text-align: left;
  padding: 0 0 0 2.7vw;
  margin-bottom: 3vh;
}

@media screen and (min-width: 960px) {
  .article2 h1 {
    font-size: 46px;
    font-weight: bold;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    margin-bottom: 9vh;
    color: #12082d;
    padding: 0 0 0 10vw;
  }
}

@media screen and (max-width: 800px) {
  .article2 .noneA {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .article2 {
    text-align: left;
    padding: 0px;
  }
  .article2 .square {
    width: 20px;
  }
}

.article2 .articleflex .boxA {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1em;
}

@media screen and (min-width: 960px) {
  .article2 .articleflex .boxA {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 26vw;
  }
}

.article2 .articleflex .boxA p {
  padding: 0 2vw 0 0;
  text-align: left;
}

.article2 .articleflex .boxA img {
  padding-top: 2vh;
  width: 78vw;
}

@media screen and (min-width: 960px) {
  .article2 .articleflex .boxA img {
    width: 20vw;
  }
}

.article2 .articleflex h2 {
  text-align: left;
  font-size: 20px;
  padding: 2vh 0 0 0vw;
}

@media screen and (min-width: 960px) {
  .article2 .articleflex h2 {
    padding: 5vh 0 0 0vw;
  }
}

.article2 .articleflex p {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding: 0 0 0 2vw;
}

@media screen and (min-width: 960px) {
  .article2 .articleflex p {
    line-height: 1.9;
    padding: 0 5vw 0 0vw;
  }
}

@media screen and (min-width: 960px) {
  .article2 .articleflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1em 43px 0 7vw;
  }
  .article2 .articleflex .noneA {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 26vw;
  }
  .article2 .articleflex .noneA .displayed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 1em;
  }
  .article2 .articleflex .noneA p {
    line-height: 1.9;
    padding: 0 3vw 0 0vw;
  }
  .article2 .articleflex .noneA img {
    width: 20vw;
  }
}

.article2 .scroll {
  padding: 2vh 0 0 0;
}

@media screen and (min-width: 960px) {
  .article2 .scroll {
    text-align: center;
    padding-bottom: 6px;
  }
}

.section3 {
  width: 100%;
}

.section3 .textflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 155, 17, 0.5)), to(rgba(64, 85, 88, 0.5)));
  background-image: linear-gradient(180deg, rgba(239, 155, 17, 0.5) 0%, rgba(64, 85, 88, 0.5) 100%);
}

@media screen and (min-width: 960px) {
  .section3 .textflex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section3 .textflex .phone {
  text-align: center;
}

@media screen and (min-width: 960px) {
  .section3 .textflex .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .section3 .textflex .phone img {
    width: 41vw;
  }
}

.section3 .textflex .text {
  padding: 1em;
}

.section3 .textflex .text h5 {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #12082d;
  line-height: 0vh;
}

@media screen and (min-width: 960px) {
  .section3 .textflex .text h5 {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    padding: 8vh 0 0 5vw;
    line-height: 2;
  }
}

.section3 .textflex .text h1 {
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #ffff;
  line-height: 11vh;
}

@media screen and (min-width: 960px) {
  .section3 .textflex .text h1 {
    font-size: 40px;
    color: #12082d;
    padding: 5vh 0 4vh 5.6vw;
  }
}

.section3 .textflex .text p {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #ffff;
  line-height: 1.8;
}

@media screen and (min-width: 960px) {
  .section3 .textflex .text p {
    font-size: 18px;
    color: #12082d;
    padding: 0vh 4vw 0 5vw;
  }
}

.section3 .textflex .text .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2vh;
}

@media screen and (min-width: 960px) {
  .section3 .textflex .text .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 8vh 0 3vh 5vw;
    gap: 1vw;
  }
}

.section3 .textflex .text .buttons a {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #ffff;
  border-radius: 10px;
  width: 60vw;
  height: 8vh;
  text-align: center;
  padding-top: 15px;
}

@media screen and (min-width: 960px) {
  .section3 .textflex .text .buttons a {
    width: 145.7px;
    height: 60px;
    padding-top: 20px;
  }
}

.section3 .textflex .text .buttons .create {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ef9b11), to(#405558));
  background-image: linear-gradient(180deg, #ef9b11 0%, #405558 100%);
  border: 1px solid linear-gradient(180deg, #ef9b11 0%, #405558 100%);
}

.section3 .textflex .text .buttons .open {
  border: 1px solid;
}

.section4 {
  width: 100%;
}

.section4 .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  background-image: url(/style/imgs/section4bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.section4 .contents .imagesflex {
  width: 77%;
  margin-top: 56px;
}

@media screen and (min-width: 960px) {
  .section4 .contents .imagesflex {
    width: 100%;
    text-align: right;
    margin-right: 12vw;
  }
  .section4 .contents .imagesflex .smartphone {
    width: 20vw;
    height: 49vh;
  }
}

.section4 .contents .text4 {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
}

.section4 .contents .text4 h5 {
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: #ef9b11;
}

@media screen and (min-width: 960px) {
  .section4 .contents .text4 h5 {
    font-size: 14px;
    margin-left: 6vw;
  }
}

.section4 .contents .text4 h6 {
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #2f2f2f;
  text-align: left;
  line-height: 2.8;
}

@media screen and (min-width: 960px) {
  .section4 .contents .text4 h6 {
    font-size: 37px;
  }
}

.section4 .contents .text4 .links-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 960px) {
  .section4 .contents .text4 .links-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1vw;
  }
}

.section4 .contents .text4 .links-button .apple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffff;
  background-color: #ffff;
  border-radius: 13px;
  padding: 1em;
  margin-top: 2vh;
}

.section4 .contents .text4 .links-button .down {
  padding-left: 2vw;
}

.section4 .contents .text4 .links-button .playstore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffff;
  background-color: #ffff;
  border-radius: 13px;
  padding: 1em;
}

@media screen and (min-width: 960px) {
  .section4 .contents .text4 .links-button .playstore {
    height: 72px;
    margin-top: 2vh;
  }
}

.section4 .contents .text4 .links-button a {
  font-size: 10px;
  font-weight: 800;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #2f2f2f;
}

.section5 {
  width: 100%;
}

.section5 .text5 {
  padding: 1em;
  background-color: rgba(255, 187, 11, 0.5);
}

.section5 .text5 .yellowcube {
  height: 18px;
  margin-top: 2px;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .yellowcube {
    width: 29px;
    height: 25px;
  }
}

.section5 .text5 .scroll {
  padding: 8px 0 3vh 0;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .scroll {
    display: none;
  }
}

.section5 .text5 .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .team {
    padding: 3vh 0 0 4vw;
  }
}

.section5 .text5 h5 {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #12082d;
  line-height: 1.5;
}

@media screen and (min-width: 960px) {
  .section5 .text5 h5 {
    font-size: 18px;
    margin-top: 3px;
  }
}

.section5 .text5 h1 {
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  line-height: 2.2;
  color: #12082d;
  padding-bottom: 5vh;
}

@media screen and (min-width: 960px) {
  .section5 .text5 h1 {
    font-size: 46px;
    padding-left: 4vw;
  }
}

.section5 .text5 .textbox {
  width: 100%;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 2vw;
    padding-bottom: 41px;
  }
}

.section5 .text5 .textbox .none {
  display: none;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .textbox .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section5 .text5 .textbox .mobilebox {
  border: 1px solid #ffff;
  border-radius: 12px;
  padding: 1em;
  background-color: #ffff;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .textbox .mobilebox {
    width: 377px;
  }
  .section5 .text5 .textbox .mobilebox .sharep {
    padding: 41px 0 46px 0;
  }
}

.section5 .text5 .textbox .mobilebox h4 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  padding: 0 0 3vh 2vw;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .textbox .mobilebox h4 {
    padding: 0 0 3vh 0;
  }
}

.section5 .text5 .textbox .mobilebox p {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
}

.section5 .text5 .textbox .mobilebox .rankingstars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section5 .text5 .textbox .mobilebox .rankingstars .star {
  width: 100%;
  padding-top: 9px;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .textbox .mobilebox .rankingstars .star {
    width: 58%;
  }
}

.section5 .text5 .textbox .mobilebox .rankingstars .plusno {
  width: 100%;
}

@media screen and (min-width: 960px) {
  .section5 .text5 .textbox .mobilebox .rankingstars .plusno {
    width: 89%;
  }
}

.section5 .text5 .textbox .mobilebox .rankingstars .plusno p {
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #12082d;
  padding: 1em;
}

@media screen and (min-width: 960px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  footer .meetme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100%;
    padding: 21px 0 0 0;
  }
  footer .meetme .company {
    padding-left: 24px;
    padding-right: 33px;
  }
}

footer .firstpart p {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #ffff;
  line-height: 32px;
  padding-bottom: 20px;
}

@media screen and (min-width: 960px) {
  footer .firstpart p {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 960px) {
  footer .firstpart {
    width: 100%;
    padding: 5px 7vw 0 5vw;
  }
}

footer .none {
  display: none;
}

@media screen and (min-width: 960px) {
  footer .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .corebanklogo {
  padding-bottom: 12px;
}

footer .quicks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 21vw;
}

@media screen and (min-width: 960px) {
  footer .quicks {
    gap: 0px;
  }
}

footer .quicks .save {
  padding: 0 0 5vh 0;
}

@media screen and (min-width: 960px) {
  footer .quicks .save {
    padding: 0 0 0 0;
  }
}

footer .quicks h4 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #ef9b11;
  line-height: 20px;
  padding-top: 6px;
  padding-bottom: 4vh;
  width: 100%;
}

footer .quicks p {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #ffff;
  line-height: 3;
}

footer .contact h4 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #ef9b11;
  line-height: 53px;
  padding-top: 15px;
}

footer .contact p {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #ffff;
  line-height: 1.7;
  padding: 0px 21vw 3vh 0;
}

@media screen and (min-width: 960px) {
  footer .contact p {
    font-size: 15px;
    padding: 2vh 0 1vw 0;
    line-height: 1.5;
  }
}

footer .contact .cust {
  padding-bottom: 1vh;
}

footer .contact .socialI {
  padding-bottom: 4vh;
}

footer .contact .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

footer .contact .end .logos {
  padding: 0;
  margin-left: 4px;
}

footer .contact h6 {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #ffff;
  margin-top: 5px;
}

footer .contact .footerstore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 960px) {
  footer .contact .footerstore {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  footer .contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 41px;
  }
}

footer .footerplaystore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ef9b11;
  background-color: #ef9b11;
  border-radius: 8px;
  padding: 1em;
  width: 179px;
  height: 61px;
  margin-bottom: 6vh;
}

@media screen and (min-width: 960px) {
  footer .footerplaystore {
    margin-bottom: 2vh;
  }
}

footer .footerapplestore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffff;
  background-color: #ffff;
  border-radius: 8px;
  padding: 1em;
  width: 179px;
  height: 61px;
  margin-bottom: 6vh;
}

footer a {
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #12082d;
}

@media screen and (min-width: 960px) {
  footer a {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-family: "Poppins", sans-serif;
  }
}

footer .down {
  padding-left: 8px;
}

footer .down h3 {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  color: #12082d;
}

footer .down h4 {
  font-size: 18px;
}
/*# sourceMappingURL=bank.css.map */