* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8d979b;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0 20px;
  height: 6vh;
}

header section .none {
  display: none;
}

@media screen and (min-width: 800px) {
  header section {
    height: 10vh;
  }
  header section .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header section .nnn {
    width: 20px;
  }
  header section .findme .ngn {
    padding: 0 6px;
  }
  header section div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8px;
  }
}

header .sec2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em;
}

header .sec2 .menu {
  width: 38px;
}

header .sec2 img {
  width: 120px;
}

header .sec2 .none {
  display: none;
}

header .sec2 .nav-links {
  display: none;
}

header .sec2 a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: #12082D;
  padding: 12px;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  header .sec2 .mobilenone {
    display: none;
  }
  header .sec2 .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .sec2 .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .sec2 img {
    width: 145px;
  }
  header .sec2 .get {
    border: 1px solid black;
    width: 136px;
    height: 43px;
    border-radius: 10px;
    color: #ffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EF9B11), to(#405558));
    background-image: linear-gradient(180deg, #EF9B11 0%, #405558 100%);
  }
  header .sec2 .get:hover {
    background-color: #ffff;
    color: #12082D;
  }
}

main {
  background-image: url(/style/imgs/mbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .texts {
  padding-right: 7vw;
}

main h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  padding: 0px 14vw 3vh 4vw;
  text-align: left;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  width: 100%;
  padding: 0 14vw 0 4vw;
  color: #12082D;
  text-align: left;
}
/*# sourceMappingURL=bank.css.map */